<div class="container">
    <textarea rows="3" class="task-text-area"></textarea>
    <div class="row task-checkbox-div">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddLeftzero">
            <label class="task-checkbox">Check 1
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label class="task-checkbox">Check 2
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label class="task-checkbox">Check 3
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label class="task-checkbox">Check 4
  <input type="checkbox" >
  <span class="checkmark"></span>
</label>
        </div>
    </div>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Task</th>
                <th>Avg. Efforts</th>
                <th>My Efforts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Display Web App</td>
                <td>12</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Unit test for Demo Class</td>
                <td>4</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
    <app-action></app-action>
</div>